<!doctype html>
<html>
<head>
	<title>Music Recommendaion System</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-right:80px;
padding-left:80px;
 }
	</style>
</head>
<body>

<!--    <div class="container">
        <div class="jumbotron text-center">
            <h1></span>Music Recommendation System</h1>
        </div>

    </div> -->
	<div class='page-header'>
	  <div class='btn-toolbar pull-right'>
	    <div class='btn-group'>
	    <a href="/login" class="btn btn-default"></span>Login</a>
            <a href="/signup" class="btn btn-default"></span>Signup</a>
	    </div>
	  </div>
	  <h2>  Music Recommendation System</h2>
	</div>
</body>
</html>
